main {
    background-color: rgb(228, 199, 254);
    font-size: medium;
}

header {
    background-color: rgb(166, 235, 243);
}

body {
    background-color: rgb(228, 199, 254);
}

nav {
    text-align: center;
    font-family: Courier, monospace
    background-color:rgb(240, 235, 229);
}

h1 {
    font-family: Courier, monospace;
    color: rgb(137, 98, 174);
    text-align: center;
}

main {
    background-color: rgb(240, 235, 229);
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1,5cm;
}

footer {
    background-color: rgb(137, 98, 174);
    color: aliceblue;
    
}

li {
    display: inline; width: 2cm;
    background-color: rgb(240, 235, 229);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}